@media only screen {
    .skill-pill.cpp {
        background-color: #00599c;
        color: #fff;
    }
    .skill-pill.cs {
        background-color: #823085;
        color: #fff;
    }
    .skill-pill.js {
        background-color: #F0DB4F;
        color: #323330;
    }
    .skill-pill.ts {
        background-color: #007acc;
        color: #fff;
    }
    .skill-pill.html {
        background-color: #e34c26;
        color: #fff;
    }
    .skill-pill.css {
        background-color: #2965f1;
        color: #fff;
    }
    .skill-pill.ue4 {
        background-color: #185999;
        color: #fff;
    }
    .skill-pill.glsl {
        background-color: #5884a4;
        color: #fff;
    }
    .skill-pill.adobe.ps {
        --key-shadow-color: #041c34a0;
        background-color: #041c34;
        color: #31a8ff;
    }
    .skill-pill.adobe.ai {
        --key-shadow-color: #2c110ea0;
        background-color: #2c110e;
        color: #f6991b;
    }
    .skill-pill.adobe.id {
        --key-shadow-color: #411021a0;
        background-color: #411021;
        color: #e64869;
    }
    .skill-pill.adobe.ae {
        --key-shadow-color: #00005ba0;
        background-color: #00005b;
        color: #9999ff;
    }
    .skill-pill.adobe {
        font-family: "Myriad Pro", Myriad, sans-serif;
        width: 1.75rem;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 25%;
    }

    .skill-pill.subst-pa {
        background-color: #e1262f;
        color: #fff;
    }
    .skill-pill.subst-de {
        background-color: #ef4b25;
        color: #fff;
        border-radius: 20%;
    }
    .skill-pill.subst-pa, .skill-pill.subst-de {
        width: 3.55ch;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

    .skill-pill.three-dee-studio {
        --key-shadow-color: #376a7f;
        background-color: #38a6ca;
        border-left-color: #7dc7de;
        color: #fff;
    }
    .skill-pill.autocad {
        --key-shadow-color: #780829;
        background-color: #e51051;
        border-left-color: #e95985;
        color: #fff;
    }
    .skill-pill.inventor {
        --key-shadow-color: #715b01;
        background-color: #dcaf03;
        border-left-color: #edcc5f;
        color: #fff;
    }
    .skill-pill.autodesk {
        font-family: 'Artifakt', sans-serif;
        width: 1.65rem;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        border-radius: 0;
        border-top-right-radius: 15%;
        border-left-style: solid;
        border-left-width: 5px;
    }

    .skill-pill.vs {
        background-color: #b179f1;
        color: rgb(30,30,30);
    }
    .skill-pill.vsc {
        background-color: #35a6f1;
        color: rgb(30,30,30);
    }

    .skill-pill.ui, .skill-pill.ux {
        background-image: linear-gradient(to top right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-attachment: fixed;
        background-size: 200% 200%;
        background-position: 0% 0%;
        animation: gradient 15s ease infinite;
        color: white;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 100% 0%;
        }
        100% {
            background-position: 0 0%;
        }
    }
}
@media only print {
    .skill-pill {
        background-color: white;
        border: 1px solid lightgray;
    }
}