.skill-pill.cpp {
    background-color: #00599c;
    color: #fff;
}
.skill-pill.cs {
    background-color: #823085;
    color: #fff;
}
.skill-pill.js {
    background-color: #F0DB4F;
    color: #323330;
}
.skill-pill.ts {
    background-color: #007acc;
    color: #fff;
}
