:root {
    --main-color: #218acf;
    --hover-main-color: #39a4eb;
    --nav-bar-color: #103ea170;
    --nav-bar-shadows-color: #254486a2;
    --nav-bar-shadow-cast-color: #366c97;
}

body {
    background-color: #ab8e6c;
    background-image: url("../resource/concrete.png");
    background-position: top;
    background-size: cover;
}

article {
    background-color: white;
    color: black;
    box-shadow: 0px 2px 1px #00000030, 0px 0px 0px #00000060;
}
article span {
    color: lightgray;
}
article:hover span {
    color: #333;
}
article span:hover {
    color: black;
    font-size: calc(1em + 1px);
}
article:hover {
    box-shadow: 0px 3px 2px #00000010, 0px 8px 8px #00000060;
}

*[tone]:hover::after {
    font-size: 0.7em;
}
*[tone="gen"]:hover::after {
    color: darkgreen;
    content: ' [/gen]';
}
*[tone="s"]:hover::after {
    color: brown;
    content: ' [/s]';
}


.title-bar {
    background-color: #254486;
    color: white;
}

.nav-bar {
    background-color: var(--nav-bar-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: 0.25s;
}
.nav-bar:hover {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.637);
}

.nav-button {
    background-color: #00000000;
    color: whitesmoke;
    border: 2pt solid whitesmoke;
    transition: 0.3s;
    cursor: pointer;
}
.nav-button:hover {
    background-color: var(--main-color);
    color: white;
    border: 2pt solid var(--main-color);
    transition: 0.1s;
    box-shadow: 0px 4px 5px 2px var(--nav-bar-shadows-color);
}

.code-category-button {
    background-color: linear-gradient(#e0c73980, #df6e1180);
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.637);
    color: white;
    font-size: large;
}
