:root {
    --main-color: #218acf;
    --hover-main-color: #39a4eb;
    --nav-bar-color: #103ea170;
    --nav-bar-shadows-color: #254486a2;
    --nav-bar-shadow-cast-color: #366c97;
}

body {
    background-color: #ab8e6c;
    background-image: url("../resource/concrete.png");
    background-position: top;
    background-size: cover;
}

.copy-panel {
    background-color: white;
    color: black;
}
