* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

.horizontal {
    flex-direction: row;
}
.horizontal.full-row {
    width: 100%;
}
.vertical {
    flex-direction: column;
}
.vertical.full-column {
    height: 100%;
}
.horizontal, .vertical {
    display: flex;
}
.horizontal>.fill, .vertical>.fill {
    flex-grow: 1;
}

.scrollable {
    overflow: auto;
}
