* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    background-image: url("./resource/concrete.png");
    background-position: top;
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

:root {
    --main-color: #218acf;
    --hover-main-color: #39a4eb;
    --nav-bar-color: #103ea170;
    --nav-bar-shadows-color: #254486;
    --nav-bar-shadow-cast-color: #366c97;
}

.nav-bar {
    background-color: var(--nav-bar-color);
    position: sticky;
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 8px 8px;
    transition: 0.4s;
}
.nav-bar:hover {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.637);
}

.nav-button {
    background-color: #00000000;
    color: whitesmoke;
    border: 2pt solid whitesmoke;
    font-size: 12pt;
    padding: 8px 16px;
    margin: 8px 8px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

.nav-button:hover {
    background-color: var(--main-color);
    color: white;
    border: 2pt solid var(--main-color);
    border-radius: 25px;
    transition: 0.1s;
    box-shadow: 0px 4px 5px 2px var(--nav-bar-shadows-color);
}
