body {
    background-color: lightblue;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

:root {
    --main-color: #218acf;
    --hover-main-color: #39a4eb;
    --nav-bar-shadows-color: #254486;
    --nav-bar-color: #3558a3;
}

.nav-button {
    background-color: var(--nav-bar-color);
    color: white;
    border: 2pt solid white;
    font-size: 16pt;
    padding: 8px 16px;
    margin: 8px 4px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.4s;
}

.nav-button:hover {
    background-color: var(--main-color);
    color: whitesmoke;
    border: 2pt solid var(--main-color);
    transition: 0.2s;
    box-shadow: 0px 4px 5px 2px var(--nav-bar-shadows-color);
}
